.password-strength-widget ul{
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 256px;
}

.password-strength-widget ul li {
  background: none;
  padding: 0 0 5px 18px;
  line-height: 15px;
  margin: 0;
  list-style-type: none;
  position: relative;
  text-align: left;
}

.password-strength-widget ul li:before {
  position: absolute;
  top: 0;
  left: 1px;
  font-size: 22px;
}

.password-strength-widget li.invalid {
  color: #d40000;
}

.password-strength-widget li.invalid:before{
  content: "\d7";
  color: #d40000;
}

.password-strength-widget li:before{
  content: "\2713";
  font-size: 16px;
}

.password-strength-widget .meter-wrapper {
  display: inline-block;
  width: 256px;
  height: 2px;
  // border: 1px solid #ccc;
  margin-bottom: 12px;
}

.password-strength-widget .meter-wrapper div{
  height: 2px;
  background-color: #6cb33e;
}

.password-strength-widget .meter-wrapper div.danger {
  background-color: #d40000;
}

.hidden {
  display: none;
}
